html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.p_0{
	padding: 0px !important;
}
section div .therapist__ div .slick-next{
	margin: -15% -3% !important;
}
section div .top_therapies__ div .slick-next{
	margin: -11% -3% !important;
}
section div .upcomming_events__ div .slick-next{
	margin: -15% -3% !important;
}
section div .modalities__ div .slick-next{
	margin: -12.6% -3% !important;
}
section div .ailments__ div .slick-next{
	margin: -12% -3% !important;
}
section  .blogs__ .slick-next{
	margin: -15.5% -3% !important;
}
section .videos__ .slick-next{
	margin: -15.5% -3% !important;
}
.speech{
    height: 35px;
    border:1px solid #9a9a9a8a !important;
}
.form-group:before{
    color: #9a9a9a !important;
}
.accordion {
    background-color: #fff;
    padding: 4px 10px;
    color: #4f0475;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    text-align: left;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.4s;
}
.accordion:after {
    content: '▼';
    color: #4f0475;
    font-weight: bold;
    float: right;
    font-weight: 800;
    margin-left: 5px;
}

button.active:after {
    content: "▲";
}

.panel {
    padding: 0 10px;
    background-color: #f5f5f580;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion_content{
    border-bottom: 5px solid #fff;
}
/*end of FAQ Section*/
.font_weight_6{
    font-weight: 500;
}
#resultdropdown, #resultsearch {
    float: left;
    list-style: none;
    margin-top: 36px;
    padding: 0;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    cursor: pointer;
    margin-left: 3.9%;
    width: 13%;
}
#resultdropdown li, #resultsearch li {
    padding: 2px 5px;
    background: #ffffff;
    font-size: 14px;
}
#resultdropdown li:hover, #resultsearch li:hover {
    background:#4f0475;
    cursor: pointer; 
    color:#fff;
}
.location {
    float: left;
    width: 80%;
}
#getlocation {
    float: left;
    width: 10%;
    background: transparent;
    color: black;
    font-size: 20px;
    border: 0;
    border-left: none;
    cursor: pointer;
}
.location-wrapper-top {
    cursor: pointer;
}
.filterlocation {
    position: relative; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    width: 95%;"
}
.filterlocation button{
    float: right; 
    border-left: 1px solid #ced4da;
}
#locationsearch input{
    margin-left: 25%;
    margin-top: 4px;
    margin-right: 2%;
}
.btnlocation{
    width: 20%;
}
.mg-5{
    margin-right: 5px;
}
.swiper-button-prev {
    background-color: #a5a5a59e;
    padding: 20px 20px;
    border-radius: 50%;
    background-size: 25px 25px !important;
}
.swiper-button-next {
    background-color: #a5a5a59e;
    padding: 20px 20px;
    border-radius: 50%;
    background-size: 25px 25px !important;
}
@media only screen and (max-width: 600px) {
    .footer-menu-list-wrapper h2{
    	font-size: 16px !important;
    }
    h2{
        font-size: 18px !important;
    }
    body{
        font-size: 15px !important;
    }
    .hidden-xs{
        display:none;
    }
    .filterlocation {
        width: 91%;
        margin-left: 15px;
    }
    #openlocationbox span{
/*
        margin-right: 6px;
        padding: 4px 7px;
*/
        font-size: 20px;
    }
    .menu-menu-above-banner-container #main_above_banner {
        /*padding: 0px 14% !important;*/
    }
    #resultdropdown, #resultsearch{
        margin-left: 14.1%;
        width: 100%;
    }
    .text-left{
        /*margin-left: 5% !important;*/
        margin-top: 5%;
    }
    .ml_5pr{
        margin-left: 5% !important;
    }
    .col-xs-12{
        width: 100%;
    }
    nav.nav-header-top {
        height: 50px !important;
    }
    .spacer-header {
        height: 35px !important;
    }
    .banner-above-menu-wrapper{
        margin-top: 5px;
    }
    .font-weight-bold {
        font-weight: 100!important;
    }
    .slick-slide {
        margin-bottom: -15px;
    }
    #menu-item-5583{
        /*font-size: 15px;*/
    }
    .main-logo {
        width: 70% !important;
    }
    .divider{
/*      margin-top: -30px !important;*/
    }
    .testmonual{
        background-color: #f2f2f2;
    }
}
@media only screen and (max-width: 350px) {
    .menu-menu-above-banner-container #main_above_banner {
        padding: 0px 8% !important;
    }
    #resultdropdown, #resultsearch{
        margin-left: 15.9%;
        width: 100%;
    }
    .font-weight-bold {
        font-weight: 100!important;
    }
    .slick-slide {
        margin-bottom: -15px;
    }
}
@media only screen and (min-width: 620px){
    h2{
        font-size: 20px !important;
    }
    nav.nav-header-top{
        height: 90px !important;
    }
    .spacer-header {
        height: 50px !important;
    }
    .healer-circle{
        padding: .6% .5% !important;
    }
    .diviger_blogs{
        margin-top: 3% !important;
    }
    .br_1{
	    /*border: 1px solid #f2f2f2;*/
	    border-radius: 6px;
	    /*background-color: #f2f2f21f;*/
	    padding-top: 15px;
    }
    .height_card{
    	height: 215px !important;
    }
    .height_card_event{
    	height: 245px !important;
    }
    .card_effects:hover{
    	box-shadow: 1px 1px 8px #b1b1b1;
    }
    .divider_modalities, .divider_event, .divider_issues, .divider_therapies, .divider_therapist{
    	margin: 1.5rem !important;
    }
    .pd_b_5{
    	padding-bottom: 8px !important;
    }
}
    .menu-menu-above-banner-container #main_above_banner li{
        /*font-family: 'Merienda', cursive;*/
        font-weight: 700;
    }
    /*.slick-list{
        height: 240px !important;
    }*/


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-next .slick-arrow {
  right: 0;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slick-prev, .slick-next { 
    height: 35px; 
    width: 35px; 
    background-size: 100%, 100%; 
    border-radius: 50%; 
    border: 0px; 
    background-color: #00000059;
    color: #fff;
}

.slick-prev{
    top: 50% !important;
    float: left;
    margin: 8% 0%;
}

.slick-next{
    top: 50% !important;
    float: right;
    margin: -13% -3%;
}

.blog_title{
    font-size: 14px;
}
.testmonual{
    /*background-color: #f2f2f2;*/
}
.swiper-slide-width-170{
/*    width:13.33% !important;*/
    margin-right: 30px !important;
}
.swiper-button-next{
    background-size: 25px 25px !important;
}
.menu_s{
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px #e2e1e19c;
}
.news_feed{
    border: 1px solid #efefef;
    box-shadow: 0.1px 0.5px 2px 0px #e6e6e661;
    border-radius: 10px;
}
.item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}

.media {
    position: relative;
    padding: 0 0 0 20px;
    margin-top: 5%;
}

.media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial-wrapper {
    padding: 0 10px;
}

.testimonial {
    color: #808080;
    position: relative;
    padding: 15px;
    font-size: 15px;
    min-height: 130px;
    text-align: center;
    border: 1px solid #efefef;
    box-shadow: 0.1px 0.5px 2px 0px #e6e6e661;
    border-radius: 10px;
}

.testimonial::after {
    width: 25px;
    height: 25px;
    display: block;
    background: #f1f1f1;
    border: 1px solid #dad7d7;
    border-width: 0 0 1px 1px;
    position: absolute;
    bottom: -13px;
    left: 470px;
    z-index: 999;
    transform: rotateZ(-46deg);
}

.star-rating li {
    padding: 0 2px;
}

.star-rating i {
    font-size: 16px;
    color: #ffdc12;
}

.carousel .overview {
    padding: 3px 0 0 15px;
}

.carousel .overview .details {
    padding: 5px 0 8px;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #1abc9c;
}

.carousel .carousel-indicators {
    bottom: -70px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 2px;
}

.carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}

.carousel-indicators li.active {
    color: #fff;
    background: #1abc9c;
    border: 5px double;
}



@media only screen and (max-width: 600px) {
  	.font_14_xs{
  		font-size: 14px !important;
  	}
    .blog_img{
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        height: 80px;
    }
    .divider_blogs{
        margin-top: -15% !important;
    }
    .swiper-slide-width-170{
        margin-right: 10px !important;
    }
    h2{
        font-size: 18px !important;
    }
    body{
        font-size: 15px !important;
    }
    .text_right_xs{
        text-align: right;
    }
    .mb_5_per{
        margin-bottom: 5%;
    }
    .testimonial::after {
        left: 575px;
    }
    .name h6{
        text-align: right;
    }
    .section_therapies{
        margin-top: 15px;
    }
    .news_feed,.blogs_section {
        margin: .5% !important;
    }
    .news_feed{
        min-height: 95px !important;
    }
    
    .all_slider_issues{
        margin-top: 25px;
    }
    .news_feed_contect{
        margin-bottom: -30px;
    }
    .testmonual_fetch{
        margin-top: -35px;
    }
    .modalities_m_content{
        margin-top: -10px !important;
    }
    .blogs_section{
        min-height: 150px !important;
    }
    .divider_news{
        margin-top: 13% !important;
    }
}
@media only screen and (max-width: 350px) {
    
}
@media only screen and (min-width: 620px){
    .blog_img{
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        height: 120px;
    }
    .text_center{
        text-align: center;
    }
    .mr_3_per{
        margin-top: 3%;
    }
    .media-body{
        text-align: right;
    }
    .testmonual_fetch{
        margin-top: -25px;
    }
    .news_feed{
       min-height: 95px !important;
    }
    .blogs_section {
        min-height: 200px !important;
    }
    .testimonial{
        margin: 0 25% !important;
    }
}












@media (max-width:767px) {
    .container_xs {}

    .col-xs-12 {
        width: 100% !important;
    }

    .col-xs-11 {
        width: 91.66666667% !important;
    }

    .col-xs-10 {
        width: 83.33333333% !important;
    }

    .col-xs-9 {
        width: 75% !important;
    }

    .col-xs-8 {
        width: 66.66666667% !important;
    }

    .col-xs-7 {
        width: 58.33333333% !important;
    }

    .col-xs-6 {
        width: 50% !important;
    }

    .col-xs-5 {
        width: 41.66666667% !important;
    }

    .col-xs-4 {
        width: 33.33333333% !important;
    }

    .col-xs-3 {
        width: 25% !important;
    }

    .col-xs-2 {
        width: 16.66666667% !important;
    }

    .col-xs-1 {
        width: 8.33333333% !important;
    }

    .col-xs-pull-12 {
        right: 100% !important;
    }

    .col-xs-pull-11 {
        right: 91.66666667% !important;
    }

    .col-xs-pull-10 {
        right: 83.33333333% !important;
    }

    .col-xs-pull-9 {
        right: 75% !important;
    }

    .col-xs-pull-8 {
        right: 66.66666667% !important;
    }

    .col-xs-pull-7 {
        right: 58.33333333% !important;
    }

    .col-xs-pull-6 {
        right: 50%
    }

    .col-xs-pull-5 {
        right: 41.66666667%
    }

    .col-xs-pull-4 {
        right: 33.33333333%
    }

    .col-xs-pull-3 {
        right: 25%
    }

    .col-xs-pull-2 {
        right: 16.66666667%
    }

    .col-xs-pull-1 {
        right: 8.33333333%
    }

    .col-xs-pull-0 {
        right: auto
    }

    .col-xs-push-12 {
        left: 100%
    }

    .col-xs-push-11 {
        left: 91.66666667%
    }

    .col-xs-push-10 {
        left: 83.33333333%
    }

    .col-xs-push-9 {
        left: 75%
    }

    .col-xs-push-8 {
        left: 66.66666667%
    }

    .col-xs-push-7 {
        left: 58.33333333%
    }

    .col-xs-push-6 {
        left: 50%
    }

    .col-xs-push-5 {
        left: 41.66666667%
    }

    .col-xs-push-4 {
        left: 33.33333333%
    }

    .col-xs-push-3 {
        left: 25%
    }

    .col-xs-push-2 {
        left: 16.66666667%
    }

    .col-xs-push-1 {
        left: 8.33333333%
    }

    .col-xs-push-0 {
        left: auto
    }

    .col-xs-offset-12 {
        margin-left: 100%
    }

    .col-xs-offset-11 {
        margin-left: 91.66666667%
    }

    .col-xs-offset-10 {
        margin-left: 83.33333333%
    }

    .col-xs-offset-9 {
        margin-left: 75%
    }

    .col-xs-offset-8 {
        margin-left: 66.66666667%
    }

    .col-xs-offset-7 {
        margin-left: 58.33333333%
    }

    .col-xs-offset-6 {
        margin-left: 50%
    }

    .col-xs-offset-5 {
        margin-left: 41.66666667%
    }

    .col-xs-offset-4 {
        margin-left: 33.33333333%
    }

    .col-xs-offset-3 {
        margin-left: 25%
    }

    .col-xs-offset-2 {
        margin-left: 16.66666667%
    }

    .col-xs-offset-1 {
        margin-left: 8.33333333%
    }

    .col-xs-offset-0 {
        margin-left: 0
    }

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }

    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        float: left
    }
    .logo{
        margin-left: 1px;
    }
    .contact_us_map{
        width: 100%;
        height: 450px;
    }
}


@media (min-width:768px) {

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333% !important;
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }

    .col-xs-12 {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}

/*
----------------------------------------------
            effects class Bunty
----------------------------------------------*/
.effects-scale {
    transition: transform .9s;
}

.effects-scale:hover {
    transform: scale(1.1);
}

.effects-roted {
    transition: transform .9s;
}

.effects-roted:hover {
    transform: rotate(270deg);
}

.pd_10 {
    padding: 10px;
}

/*------------------------------------------
                Counting Style Bunty
--------------------------------------------*/
.counting_icon {
    transition: transform .9s;
}

.counting_icon:hover {
    transform: rotate(270deg);
    color: #c20810;
}

.counter_num {
    color: #c20810;
}

/*------------------------------------------
               Testmonual Style Bunty
--------------------------------------------*/
.testmonual_footer {
    padding: 45px 0px 0px 0px;
}

.line_bk {
    border-top: 2px solid #eee;
    margin: 10px 0px;
    clear: both;
}
/*----------------------------------------------------------------------
                    Scroll Menu Bar
-----------------------------------------------------------------------*/
.scroll_tab {
    box-shadow: 2px 5px 5px;
    margin: 10px 5px;
    border-radius: 10px;
}

div.scrollmenu {
    background-color: #003153;
    overflow: auto;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: 700;
    padding: 15px 5px;

}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-right: 2px solid #576a7d;
}

div.scrollmenu a:hover {
    background-color: #c20810;
    border-radius: 2px;
    padding: 14px;
}

.submenu_scroll {
    transition: transform .9s;
}

.submenu_scroll:hover {
    transform: scale(.5);
}

/*------------------------------------------------------------------------------------------------
                                   Our Customer Slider 
--------------------------------------------------------------------------------------------------*/
/* Slider */
.slick-slide {
    margin: 30px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    /*border-radius: 50%;*/
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*------------------------------------------------------------------------------------------------
                                   Our Customer Slider 
--------------------------------------------------------------------------------------------------*/